@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));


.link_item{
    @apply text-gray-100 max-md:py-2 max-md:bg-white/30 max-md:backdrop-blur-2xl w-full text-center hover:text-gray-50 relative md:after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-0.5 md:after:bg-gray-100 after:scale-x-0 after:origin-right after:transition-transform after:duration-300 hover:after:scale-x-100 hover:after:origin-center
}
